<container class="row form">
  <div class="form-content">

    <form role="form" action="/update_user/" method="post" class="login-form">

      <% if (error.length > 0) { %>
      <div class="alert alert-danger"><%- error %></div>
      <% } %>

      <% if (success.length > 0) { %>
      <div class="alert alert-success"><%- success %></div>
      <% } %>

      <div class="form-group">
        <% if (session.user.plz_interests.length > 0) { %>
        <h2>You selected following districts:</h2>
        <ul id='districts' class='list'>
          <% session.user.plz_interests.forEach(function(plz){ %>
          <li id="<%= plz %>" class="plz"><%= plz %><span>X</span></li>
          <% }); %>
        </ul>
        <% } %>
      </div>

      <div class="form-group">
        <label for="plzContainer">Add new PLZs:</label>
        <div id="plzContainer" class="field_wrapper">
          <div class="plzs">
            <input type='number' max='9999' min='1000' name="plz_interests" class="form-control plz_input" />
            <a href="javascript:void(0);" class="add_button plz_add" title="Add field">＋</a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="max_costs">Change your max costs:</label>
        <%
          let max_costs = session.user.max_costs;
        %>
        <input type='number' min='50' id="max_costs" name="max_costs" class="form-control" value="<%= max_costs %>"
          required />
      </div>

      <div class="form-group" style="width:45%;float:left;">
        <label for="min_size">Change your min size:</label>
        <%
          let min_size = session.user.min_size;
        %>
        <input type='number' min='0' id="min_size" name="min_size" class="form-control" value="<%= min_size %>"
          required />
      </div>
      <div class="form-group" style="width:45%;float:right;">
        <label for="max_size">Change your max size:</label>
        <%
          let max_size = session.user.max_size;
        %>
        <input type='number' min='0' id="max_size" name="max_size" class="form-control" value="<%= max_size %>"
          required />
      </div>

      <div class="form-group">
        <label for="notificationrate">Change your notificationrate:</label>
        <select name="notificationrate" id="notificationrate" class="form-control" required>
          <%
              let select1 = "";
              let select2 = "";
              let select3 = "";
              let select4 = "";
              let select5 = "";

              switch (session.user.notificationrate) {
                case 1:
                  select1 = "selected";
                  break;
                case 2:
                  select2 = "selected";
                  break;
                case 3:
                  select3 = "selected";
                  break;
                case 4:
                  select4 = "selected";
                  break;
                case 5:
                  select5 = "selected";
                  break;
              
                default:
                  select1 = "selected";
                  break;
              }
            %>
          <option value="1" <%= select1 %>>instant notification</option>
          <option value="2" <%= select2 %>>at 6, 12 and 18 o'clock</option>
          <option value="3" <%= select3 %>>at 10 and 15 o'clock</option>
          <option value="4" <%= select4 %>>at 6 o'clock</option>
          <option value="5" <%= select5 %>>every Thursday</option>
        </select>
      </div>

      <button type="submit" class="btn">Save!</button>

    </form>

  </div>

  <div id="scripts">
    <script src="/js/addFormField.js"></script>
    <script src="/js/addHiddenInputField.js"></script>
  </div>
</container>