<%- include('includes/header'); -%>

<h1>Welcome to <%= title %></h1>

<% if (session.user == undefined) { %>
	<%- include('login'); -%>
<% } else {%>
<p>Hi, <%= session.user.name %>! You are logged in.</p>
<p><a href="/me">Visit your site!</a></p>
<% } %>

<p>This website let's you register for a newsletter of new flats in austria.</p>


<%- include('includes/footer'); -%>